<div>
  <div ng-show='canShow()' >
    <select ng-model="selectedHasMany" ng-options="item[field.identifier] as utils.cutString(item[field.field], 25) for item in relatedResources[field.endpoint]">
    </select>
    <a class="btn btn-info btn-xs" ng-click="addHasManyOption()">Add</a>
  </div>
  <a ng-if='entity.nestedForms[field.endpoint]' ng-init='nestedFormIndex.value = nestedFormIndex.value + 1; formIndex = nestedFormIndex.value' class="btn btn-success btn-xs"  ng-click="open(formIndex)">Create</a>
  <ul>
    <li ng-repeat='data in datas[field.name]'>
      {{data[field.field]}}
      <a ng-click='remove(data.id);' class="btn btn-danger btn-xs">Delete</a>
    </li>
  </ul>
</div>
