<div>
  <ul>
    <li ng-repeat='error in errors'>
      {{error}}
    </li>
  </ul>
  <form ng-init="nestedFormIndex = {value: 0}" novalidate>
    <div ng-if="field.fieldFormType != 'related'" ng-repeat="field in fields" ng-class="{ row: field.grid.newRow }">
      <div>
        <carnival-form-fields class="column small-{{ field.grid.columnSize }}" ng-show="field.grid.newRow"></carnival-form-fields>
        <carnival-form-fields-next class="column small-{{ fields[$index + 1].grid.columnSize }}" ng-show="!fields[$index + 1].grid.newRow && $index + 1 !== fields.length"></carnival-form-fields-next>
      </div>
    </div>
    <div>
      <carnival-button label="{{ 'FORM_BUTTON_SAVE' | translate }}" style="success" size="small" ng-click="buttonAction()"></carnival-button>
    </div>
  </form>

  <div id='related-fields' ng-show='showRelatedFields()'>
    <h4>Relacionados</h4>
    <div ng-if="field.fieldFormType == 'related'" class="row" ng-repeat="field in fields">
      <label class="col-sm-2 control-label">
        {{ field.label }}
        <div class="col-sm-10" ng-switch="field.type">
          <carnival-belongs-to-field ng-switch-when="belongsTo" parent-entity="entity" field="field" datas="entity.datas[field.name]" action="entity.action" related-resources="entity.relatedResources[field.name]" state="{{state}}"></carnival-belongs-to-field>
          <carnival-has-many-field ng-switch-when="hasMany" parent-entity="entity" field="field" datas="entity.datas[field.name]" action="entity.action" related-resources="entity.relatedResources[field.name]" state="{{state}}"></carnival-has-many-field>
        </div>
      </label>
    </div>
  </div>
</div>
