<form ng-init="nestedFormIndex = {value: 0}" novalidate>
  <div ng-repeat="field in fields" ng-class="{ row: field.grid.newRow }">
    <div>
      <carnival-form-fields class="column small-{{ field.grid.columnSize }}" ng-show="field.grid.newRow"></carnival-form-fields>
      <carnival-form-fields-next class="column small-{{ fields[$index + 1].grid.columnSize }}" ng-show="!fields[$index + 1].grid.newRow && $index + 1 !== fields.length"></carnival-form-fields-next>
    </div>
  </div>
  <div>
    <carnival-button label="{{ 'FORM_BUTTON_SAVE' | translate }}" style="success" size="small" ng-click="buttonAction()"></carnival-button>
  </div>
</form>

