<div>
  <a ng-if='canOpenNestedForm()' class="button default tiny"  ng-click="open()">{{ 'NESTED_FORM_BUTTON_CREATE' | translate }}</a>

  <ul ng-if="isHasMany()" class='has-many-field-list'>
    <li ng-repeat='data in datas[field.name]'>
      {{data[field.field]}}
      <a id='removeHasManyOption' ng-click='remove(data.id);' class="button default tiny">Delete</a>
      <a id='editHasManyOption' ng-click='openWithData(data);' class="button warning tiny">Edit</a>
      <div id="edit_nested_{{field.name}}_{{data[field.identifier]}}"></div>
    </li>
  </ul>
  <div id="create_nested_{{field.entityName}}">
  </div>
</div>
