<div>
  <carnival-field-form-builder state='create' parent-entity='parentEntity' field='field'></carnival-field-form-builder>
  <div ng-switch='relationType'>
    <div ng-switch-when='hasMany'>
      <div ng-switch='showAs()'>
        <div ng-switch-when='summarized'>
          <carnival-summarized-items parent-entity='parentEntity' field='field' datas='datas' state='state' editable='editable'></carnival-summarized-items>
        </div>
        <ul ng-switch-default ng-if="isHasMany()" class='has-many-field-list'>
          <li ng-repeat='data in datas'>
            {{data[field.field]}}
            <a id='removeHasManyOption' ng-click='remove(data.id);' class="button default tiny">Delete</a>
            <carnival-field-form-builder data="data" state='edit' parent-entity='parentEntity' field='field'></carnival-field-form-builder>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
