<form class="simple-form form-horizontal" ng-init="nestedFormIndex = {value: 0}" novalidate>
  <div class="form-group" ng-repeat="field in fields">
    <label class="col-sm-2 control-label">{{ field.label }}</label>
    <div class="col-sm-10" ng-switch="field.type">
      <!-- Fields -->
      <carnival-text-field ng-switch-when="text" data="datas[field.name]" label="field.label" editable="editable"></carnival-text-field>
      <carnival-string-field ng-switch-when="string" data="datas[field.name]" label="field.label" editable="editable"></carnival-string-field>
      <carnival-number-field ng-switch-when="number" data="datas[field.name]" label="field.label" editable="editable"></carnival-number-field>
      <carnival-file-field ng-switch-when="file" data="datas[field.name]" label="field.label" editable="editable"></carnival-file-field>
      <carnival-belongs-to-field ng-switch-when="belongsTo" nested-form-index="nestedFormIndex" nested-form-type="type"  entity="entity" field="field" datas="entity.datas" action="entity.action" state="edit" related-resources="entity.relatedResources" editable="true"></carnival-belongs-to-field>
      <carnival-has-many-field ng-switch-when="hasMany" entity="entity" nested-form-index="nestedFormIndex" nested-form-type="type" field="field" datas="entity.datas" action="entity.action" state="edit" related-resources="entity.relatedResources" editable="true"></carnival-has-many-field>
      <carnival-text-field ng-switch-default data="datas[field.name]" label="field.label" editable="editable"></carnival-text-field>
    </div>
  </div>
  <label class="col-sm-2 control-label">
    <carnival-button label="{{ action.label | translate }}" style="success" size="sm" ng-click="buttonAction()"></carnival-button>
  </label>
</form>
