<form class="simple-form form-horizontal" novalidate>
  <div class="form-group" ng-repeat="field in fields">
    <label class="col-sm-2 control-label">{{ field.label }}</label>
    <div class="col-sm-10" ng-switch="field.type">
      <!-- Fields -->
      <carnival-text-field ng-switch-when="text" data="datas[field.name]" label="field.label" editable="editable"></carnival-text-field>
      <carnival-number-field ng-switch-when="number" data="datas[field.name]" label="field.label" editable="editable"></carnival-number-field>
      <carnival-select-field ng-switch-when="belongsTo" data="datas[field.name]" resource-label="field.resourceLabel" resource-identifier="field.resourceIdentifier" items="relatedResources[field.resourceName]" editable="editable"></carnival-select-field>
      <carnival-text-field ng-switch-default data="datas[field.name]" label="field.label" editable="editable"></carnival-text-field>
    </div>
  </div>
  <label class="col-sm-2 control-label">
    <carnival-button label="{{ action.label | translate }}" style="success" size="sm" ng-click="action.click()"></carnival-button>
  </label>
</form>
