<div>

  <div ng-switch='showAs()'>
    <carnival-has-many-table ng-switch-when='table' has-nested='hasNested()'  parent-entity='parentEntity' field='field' datas='datas' state='state' editable='editable'></carnival-has-many-table>
    <ul class='carnival-tags' ng-switch-when='tag' class='has-many-field-list'>
      <li class='carnival-tag' ng-repeat='data in datas'>
        <carnival-field-form-builder ng-if='hasNested()' label='{{data[field.field]}}' data="data" state='edit' parent-entity='parentEntity' field='field'></carnival-field-form-builder>
        <a id='removeHasManyOption' ng-click='remove(data.id);' class="button default tiny remove-tag">x</a>
      </li>
    </ul>
  </div>

  <div>
    <select ng-show='showOptions()' ng-model="selectedHasMany" ng-options="item[field.identifier] as utils.cutString(item[field.field], 25) for item in relatedResources">
    </select>

    <a ng-show='showOptions()' class="button default tiny" ng-click="addHasManyOption()">Add</a>
    <carnival-field-form-builder ng-if='hasNested()' state='create' parent-entity='parentEntity' field='field' datas='datas'></carnival-field-form-builder>
  </div>

</div>
