<div class="advanced-search">
  <h4>{{ 'SEARCH_FORM_TITLE' | translate }}</h4>
  <hr/>
    <p ng-repeat="field in fields" ng-if="field.views.index.searchable" ng-switch="field.type">
      <label ng-if="field.type !== 'hasMany'">{{ field.label }}</label>
      <carnival-text-field ng-switch-when="wysiwyg" data="searchParams[field.name]" editable="true"></carnival-text-field>
      <carnival-text-field ng-switch-when="text" data="searchParams[field.name]" editable="true"></carnival-text-field>
      <carnival-string-field ng-switch-when="string" data="searchParams[field.name]" editable="true"></carnival-string-field>
      <carnival-boolean-field ng-switch-when="boolean" data="searchParams[field.name]" editable="true"></carnival-boolean-field>
      <carnival-currency-field ng-switch-when="currency" data="searchParams[field.name]" field="field"></carnival-currency-field>
      <carnival-enum-field ng-switch-when="enum" data="searchParams[field.name]" field="field"></carnival-enum-field>
      <carnival-select-field ng-switch-when="belongsTo" editable="true" field="field.field" identifier="field.identifier" items="relatedResources[field.endpoint]" data="searchParams[field.foreignKey]"></carnival-select-field>
      <carnival-number-field ng-switch-when="number" data="searchParams[field.name]" label="field.label" editable="true"></carnival-number-field>
    </p>
  <hr/>
  <carnival-button label="{{ 'SEARCH_FORM_SUBMIT' | translate }}" size="small" style="default" ng-click="submit()"></carnival-button>
</div>
