<table class="table table-hover">
  <thead>
    <tr>
      <th ng-repeat="field in fields">
        {{ field.label }}
        <carnival-order-ctrl field="field.name"></carnival-order-ctrl>
      </th>
      <th ng-if="actions" style="width: 30%">
        Actions
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="data in datas">
      <td ng-repeat="field in fields">
        {{ data[field.name] }}
      </td>
      <td>
        <carnival-button label="actions.show.label" style="primary" size="xs" ng-click="actions.show.click(data[identifier])"></carnival-button>
        <carnival-button label="actions.edit.label" style="warning" size="xs" ng-click="actions.edit.click(data[identifier])"></carnival-button>
        <carnival-delete-button item-id="data[identifier]" action="actions.delete.click"></carnival-button>
      </td>
    </tr>
  </tbody>
</table>
