<nav>
  <ul class="pagination" style="cursor: pointer;">

    <li ng-class="{ disabled: currentPage === 1 }">
      <a ng-click="prev()">&laquo;</a>
    </li>

    <li ng-if="currentPage > 2">
      <a ng-click="jump(currentPage - 2)">{{ currentPage - 2 }}</a>
    </li>

    <li ng-if="currentPage > 1">
      <a ng-click="jump(currentPage - 1)">{{ currentPage - 1 }}</a>
    </li>

    <li class="active">
      <a ng-click="jump(currentPage)">{{ currentPage }}</a>
    </li>

    <li ng-if="currentPage < totalPages">
      <a ng-click="jump(currentPage + 1)">{{ currentPage + 1}}</a>
    </li>

    <li ng-if="currentPage < totalPages - 1">
      <a ng-click="jump(currentPage + 2)">{{ currentPage + 2}}</a>
    </li>

    <li ng-class="{ disabled: currentPage == totalPages }">
      <a ng-click="next()">&raquo;</a>
    </li>

  </ul>
</nav>
